* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    float: left;
    margin-right: 1rem;
}

.container {
    background-color: bisque;
    border: 1px solid #333;
    padding: 1rem;
    display: flow-root;
}